.GameImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 325px;
    padding-top: 20px;
}

.Peg{
    display: flex;
    width: 40%;
    justify-content: center;
}

.peg1{
    position: absolute; 
    background-color: rgb(91, 55, 20);
    width: 19px;
    height: 294px;
}

.peg2{
    position: absolute;
}

.peg3{
    position: absolute;
}

.Start{                
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.StartButton{
    border-color: transparent;
    color: white;
    background-color: red;
    height: 30px;
    border-radius: 15px;
    font-family: "Audiowide", sans-serif;
}

.title-text{
    font-size: 50px;
    text-align: center;
    color: transparent;
    background: linear-gradient(to left, red,white,blue);
    -webkit-background-clip: text;
    font-family: "Audiowide", sans-serif;
}

.title{
    display: flex;
    justify-content: center; 
}


.disk1{
    width: 55px;
    height: 30px;
    top: 180px;
    z-index: 7;
    position: relative;
    left: -18px;
}

.disk2{
    width: 70px;
    height: 30px;
    top: 175px;
    z-index: 8;
    position: relative;
    left: -23px;
}

.disk3{
    width: 85px;
    height: 30px;
    top: 170px;
    z-index: 9;
    position: relative;
    left: -28px;
}

.disk4{
    width: 100px;
    height: 30px;
    top: 165px;
    z-index: 10;
    position: relative;
    left: -33px;
}